:root {
  --ion-color-primary: #54575c;
  --ion-color-primary-rgb: 84,87,92;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #4a4d51;
  --ion-color-primary-tint: #65686c;

  --ion-color-secondary: #d8ae46;
  --ion-color-secondary-rgb: 216,174,70;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #be993e;
  --ion-color-secondary-tint: #dcb659;

  --ion-color-tertiary: #583A93;
  --ion-color-tertiary-rgb: 88,58,147;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4d3381;
  --ion-color-tertiary-tint: #694e9e;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #3d3c37;
  --ion-color-dark-rgb: 61,60,55;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #363530;
  --ion-color-dark-tint: #50504b;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f3f3f0;
  --ion-color-light-rgb: 243,243,240;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d6d6d3;
  --ion-color-light-tint: #f4f4f2;

  --ion-color-mint: #6fa189;
  --ion-color-mint-rgb: 111,161,137;
  --ion-color-mint-contrast: #ffffff;
  --ion-color-mint-contrast-rgb: 255,255,255;
  --ion-color-mint-shade: #628e79;
  --ion-color-mint-tint: #7daa95;
  
  --ion-color-honey: #d8ae46;
  --ion-color-honey-rgb: 216,174,70;
  --ion-color-honey-contrast: #000000;
  --ion-color-honey-contrast-rgb: 0,0,0;
  --ion-color-honey-shade: #be993e;
  --ion-color-honey-tint: #dcb659;

  --ion-color-granite: #54575c;
  --ion-color-granite-rgb: 84,87,92;
  --ion-color-granite-contrast: #ffffff;
  --ion-color-granite-contrast-rgb: 255,255,255;
  --ion-color-granite-shade: #4a4d51;
  --ion-color-granite-tint: #65686c;
  
	// --ion-color-olive: #92886f;
	// --ion-color-olive-rgb: 146,136,111;
	// --ion-color-olive-contrast: #000000;
	// --ion-color-olive-contrast-rgb: 0,0,0;
	// --ion-color-olive-shade: #807862;
	// --ion-color-olive-tint: #9d947d;

  --ion-color-hay: #dcb771;
	--ion-color-hay-rgb: 220,183,113;
	--ion-color-hay-contrast: #000000;
	--ion-color-hay-contrast-rgb: 0,0,0;
	--ion-color-hay-shade: #c2a163;
	--ion-color-hay-tint: #e0be7f;

  // --ion-color-redwood: #a3523e;
	// --ion-color-redwood-rgb: 163,82,62;
	// --ion-color-redwood-contrast: #ffffff;
	// --ion-color-redwood-contrast-rgb: 255,255,255;
	// --ion-color-redwood-shade: #8f4837;
	// --ion-color-redwood-tint: #ac6351;

  // --ion-color-dustyrose: #b08782;
	// --ion-color-dustyrose-rgb: 176,135,130;
	// --ion-color-dustyrose-contrast: #000000;
	// --ion-color-dustyrose-contrast-rgb: 0,0,0;
	// --ion-color-dustyrose-shade: #9b7772;
	// --ion-color-dustyrose-tint: #b8938f;

  --ion-color-kabana: #eee9e3;
	--ion-color-kabana-rgb: 238,233,227;
	--ion-color-kabana-contrast: #000000;
	--ion-color-kabana-contrast-rgb: 0,0,0;
	--ion-color-kabana-shade: #d1cdc8;
	--ion-color-kabana-tint: #f0ebe6;
 
  --ion-color-snow: #ffffff;
  --ion-color-snow-rgb: 243,243,240;
  --ion-color-snow-contrast: #000000;
  --ion-color-snow-contrast-rgb: 0,0,0;
  --ion-color-snow-shade: #d6d6d3;
  --ion-color-snow-tint: #f4f4f2;
}

.ion-color-mint {
  --ion-color-base: var(--ion-color-mint);
  --ion-color-base-rgb: var(--ion-color-mint-rgb);
  --ion-color-contrast: var(--ion-color-mint-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mint-contrast-rgb);
  --ion-color-shade: var(--ion-color-mint-shade);
  --ion-color-tint: var(--ion-color-mint-tint);
}

.ion-color-honey {
  --ion-color-base: var(--ion-color-honey);
  --ion-color-base-rgb: var(--ion-color-honey-rgb);
  --ion-color-contrast: var(--ion-color-honey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-honey-contrast-rgb);
  --ion-color-shade: var(--ion-color-honey-shade);
  --ion-color-tint: var(--ion-color-honey-tint);
}   
  
.ion-color-granite {
  --ion-color-base: var(--ion-color-granite);
  --ion-color-base-rgb: var(--ion-color-granite-rgb);
  --ion-color-contrast: var(--ion-color-granite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-granite-contrast-rgb);
  --ion-color-shade: var(--ion-color-granite-shade);
  --ion-color-tint: var(--ion-color-granite-tint);
}

// .ion-color-olive {
// 	--ion-color-base: var(--ion-color-olive);
// 	--ion-color-base-rgb: var(--ion-color-olive-rgb);
// 	--ion-color-contrast: var(--ion-color-olive-contrast);
// 	--ion-color-contrast-rgb: var(--ion-color-olive-contrast-rgb);
// 	--ion-color-shade: var(--ion-color-olive-shade);
// 	--ion-color-tint: var(--ion-color-olive-tint);
// }

.ion-color-hay {
	--ion-color-base: var(--ion-color-hay);
	--ion-color-base-rgb: var(--ion-color-hay-rgb);
	--ion-color-contrast: var(--ion-color-hay-contrast);
	--ion-color-contrast-rgb: var(--ion-color-hay-contrast-rgb);
	--ion-color-shade: var(--ion-color-hay-shade);
	--ion-color-tint: var(--ion-color-hay-tint);
}

// .ion-color-redwood {
// 	--ion-color-base: var(--ion-color-redwood);
// 	--ion-color-base-rgb: var(--ion-color-redwood-rgb);
// 	--ion-color-contrast: var(--ion-color-redwood-contrast);
// 	--ion-color-contrast-rgb: var(--ion-color-redwood-contrast-rgb);
// 	--ion-color-shade: var(--ion-color-redwood-shade);
// 	--ion-color-tint: var(--ion-color-redwood-tint);
// }

// .ion-color-dustyrose {
// 	--ion-color-base: var(--ion-color-dustyrose);
// 	--ion-color-base-rgb: var(--ion-color-dustyrose-rgb);
// 	--ion-color-contrast: var(--ion-color-dustyrose-contrast);
// 	--ion-color-contrast-rgb: var(--ion-color-dustyrose-contrast-rgb);
// 	--ion-color-shade: var(--ion-color-dustyrose-shade);
// 	--ion-color-tint: var(--ion-color-dustyrose-tint);
// }

.ion-color-kabana, .ion-color-olive, .ion-color-redwood, .ion-color-dustyrose {
	--ion-color-base: var(--ion-color-kabana);
	--ion-color-base-rgb: var(--ion-color-kabana-rgb);
	--ion-color-contrast: var(--ion-color-kabana-contrast);
	--ion-color-contrast-rgb: var(--ion-color-kabana-contrast-rgb);
	--ion-color-shade: var(--ion-color-kabana-shade);
	--ion-color-tint: var(--ion-color-kabana-tint);
}

.ion-color-snow, .ion-color-moon, .ion-color-cotton, .ion-color-ocean, .ion-color-mauve {
  --ion-color-base: var(--ion-color-snow);
  --ion-color-base-rgb: var(--ion-color-snow-rgb);
  --ion-color-contrast: var(--ion-color-snow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-snow-contrast-rgb);
  --ion-color-shade: var(--ion-color-snow-shade);
  --ion-color-tint: var(--ion-color-snow-tint);
}